[global_config]
  title_hide_sizetext = True
  dbus = True
  focus = system
  sticky = True
  enabled_plugins = CustomCommandsMenu, InactivityWatch, ActivityWatch, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, Logger, LaunchpadBugURLHandler
  title_transmit_bg_color = "#2f343f"
  hide_from_taskbar = True
  inactive_color_offset = 0.71
[keybindings]
  cycle_prev = <Primary><Shift>Tab
  cycle_next = <Primary>Tab
  hide_window = <Primary>Escape
[profiles]
  [[default]]
    use_system_font = False
    visible_bell = True
    background_darkness = 0.90
    background_type = transparent
    background_image = None
    split_to_group = True
    foreground_color = "#fed000"
    scroll_on_output = False
    custom_command = screen
    font = Droid Sans Mono for Powerline Plus Nerd File Types 10
    scrollback_infinite = True
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
      size = 1700, 800
[plugins]
